<footer class="footer">
    <div class="col-4">
        <h6 style="text-align: center;">Redes Sociais</h6>
        <div class="footer__social mt-5 mb-5">
            <a href="https://github.com/kalbzero" target="_blank">
                <img src="assets/icons/github-icon.png" alt="GitHub" />
            </a>
            <a href="https://www.linkedin.com/in/edward-ramos-guimaraes/" target="_blank">
                <img src="assets/icons/linkedin-icon.png" alt="LinkedIn" />
            </a>
            <a href="https://x.com/EdwardR48047126" target="_blank">
                <img src="assets/icons/twitter-icon.png" alt="Twitter" />
            </a>
        </div>
    </div>
    <div class="col-4">
        <h6 style="text-align: center;">Contato</h6>
        <div class="footer__social mt-5 mb-5">
            <a href="mailto:edward.ramos.guimaraes@gmail.com?subject=Contato&body=Olá Edward, gostaria de agendar uma conversa...">
                <img src="assets/icons/email-icon.png" alt="Email" />
            </a>
        </div>
    </div>
    <div class="col-4">
        <h6 style="text-align: center;">Tecnologias do site</h6>
        <div class="footer__tecnologies mt-5 mb-5">
            <a href="https://angular.dev/" target="_blank">
                <img src="assets/tecnologies/angular-logo.png" alt="Angular" />
            </a>
            <a href="https://www.typescriptlang.org/" target="_blank">
                <img src="assets/tecnologies/typescript-logo.png" alt="Typescript" />
            </a>
            <a href="https://www.w3schools.com/js/" target="_blank">
                <img src="assets/tecnologies/javascript-logo.png" alt="Javascript" />
            </a>
            
            <a href="https://www.w3schools.com/css/" target="_blank">
                <img src="assets/tecnologies/css3-logo.png" alt="css3" />
            </a>
            <a href="https://www.w3schools.com/html/" target="_blank">
                <img src="assets/tecnologies/html5-logo.png" alt="html5" />
            </a>
            <a href="https://getbootstrap.com/" target="_blank">
                <img src="assets/tecnologies/bootstrap-logo.png" alt="bootstrap" />
            </a>
            <br />
            <a href="https://sass-lang.com/" target="_blank">
                <img src="assets/tecnologies/sass-logo.png" alt="Sass" />
            </a>
            <a href="https://getbem.com/introduction/" target="_blank">
                <img src="assets/tecnologies/bem-logo.png" alt="Sass" />
            </a>
            <a href="https://primeng.org/installation" target="_blank">
                <img src="assets/tecnologies/primeng-logo.png" alt="PrimeNG" />
            </a>    
        </div>
    </div>

</footer>
