<footer class="footer">
    <div class="col-4">
        <h6 style="text-align: center;">Redes Sociais</h6>
        <div class="footer__social">
            <a href="https://github.com/kalbzero" target="_blank">
                <img src="assets/icons/github-icon.png" alt="GitHub" />
            </a>
            <a href="https://www.linkedin.com/in/edward-ramos-guimaraes/" target="_blank">
                <img src="assets/icons/linkedin-icon.png" alt="LinkedIn" />
            </a>
            <a href="https://x.com/EdwardR48047126" target="_blank">
                <img src="assets/icons/twitter-icon.png" alt="Twitter" />
            </a>
        </div>
    </div>
    <div class="col-4">
        <h6 style="text-align: center;">Contato</h6>
    </div>
    <div class="col-4">
        <h6 style="text-align: center;">Tecnologias do site</h6>
    </div>

</footer>
