/* Main */
$primary-color: #333333;
$secondary-color: #C0C0C0;
$white-color: #FFFFFF;

/* Buttons */
$button-dark-bg: #333333;
$button-dark-text: #C0C0C0;
$button-light-bg: #ffffff;
$button-light-text: #333333;