/* You can add global styles to this file, and also import other style files */
@import './styles/colors';

/* Dark Mode */
:root {
    --navbar-bg-color: #{$primary-color};
    --navbar-text-color: #{$secondary-color};
    --footer-bg-color: #{$primary-color};
    --footer-text-color: #{$secondary-color};
    --background-color: #{$primary-color};
    --text-color: #{$secondary-color};

    --button-dark-bg: #{$button-dark-bg};
    --button-dark-text: #{$button-dark-text};
    --button-light-bg: #{$button-light-bg};
    --button-light-text: #{$button-light-text};
}

/* Light Mode */
body.light-theme {
    --navbar-bg-color: #{$white-color};
    --navbar-text-color: #{$primary-color};
    --footer-bg-color: #{$white-color};
    --footer-text-color: #{$primary-color};
    --background-color: #{$white-color};
    --text-color: #{$primary-color};
}

/* Buttons */
.dark-mode-btn {
    background-color: var(--button-dark-bg);
    color: var(--button-dark-text);
    border: 2px solid var(--button-dark-text);
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
    width: 130px;
}
.dark-mode-btn:hover {
    background-color: var(--button-dark-text);
    color: var(--button-dark-bg);
}
.light-mode-btn {
    background-color: var(--button-light-bg);
    color: var(--button-light-text);
    border: 2px solid var(--button-light-text);
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
    width: 130px;
}

.light-mode-btn:hover {
    background-color: var(--button-light-text);
    color: var(--button-light-bg);
}
.language-buttons {
    display: flex;
    gap: 10px;
}
.language-button {
    width: 40px; 
    height: 40px; 
    border: none; 
    border-radius: 50%;
    overflow: hidden;
    cursor: pointer;
    background-color: #fff; 
    background-image: var(--bg-image); 
    background-size: cover; 
    background-position: center; 
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); 
    transition: box-shadow 0.2s ease;
}
.language-button:focus {
    outline: none;
}
/* Primeng Rewrite */
